.feedback-component{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 800px;
    padding: 20px;
    background-color: rgb(222, 9, 9);
}

.feedback-result-component{
    display: flex;
    gap: 30px;
    width: 100%;
}

.like-dislike-component{
    display: flex;
    gap: 20px;
    align-items: center;
    width: 100%;
}

.fesult{
    min-width: 70px;
    font-size: 34px;
    font-weight: bold;
    color: wheat;
}

